// Custom SCSS variables
$primary: #05CAFF;
$body-color: #1d2d35;
$link-color: #05CAFF;
$link-hover-color: darken(#05CAFF, 15%);

// Dark mode overrides (if needed, Doks handles many automatically)
$primary-dark: #05CAFF;
